<nav [ngClass]="{'closed': sideBarOpenend==false}">
  <div>
    <a routerLink="">
      <i class="pi pi-home"></i>
      <span>Accueil</span>
    </a>
  </div>
  <div>
    <a routerLink="doctor/index">
      <i class="pi pi-list"></i>
      <span>Liste des medecins</span>
    </a>
  </div>
  <!--    <div>-->
  <!--    <a routerLink="member/register">-->
  <!--      <i class="pi pi-users"></i>-->
  <!--      <span>Liste des membres</span>-->
  <!--    </a>-->
  <!--  </div>-->
    <div>
    <a routerLink="appointments/index">
      <i class="pi pi-calendar"></i>
      <span>Rendez-vous</span>
    </a>
    </div>
  <div class="hover:cursor-pointer">
    @if (sessionService.session().token){
    <a (click)="this.sessionService.clear()">
      <i class="pi pi-sign-out"></i>
      <span>Se déconnecter</span>
    </a>
    }
    @else{
    <a routerLink="login">
      <i class="pi pi-sign-in"></i>
      <span>Se connecter</span>
    </a>
    }
  </div>
</nav>
